@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --darkGrey: #2a2a2a;
    --lightGrey: #dadada;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

h1 {
    font-weight: 400;
    text-align: center;
    margin: 1rem;
}

h2, h3, h4, h5, h6 {
    margin: 0.6rem;
}

p {
    margin: 1rem;
}

nav {
    display: flex;
    padding: 1rem;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: var(--lightGrey);
    margin: 0 1rem;
}

.backToDashboard {
    position: absolute;
    left: 8px;
    font-size: 0.8rem;
}

.cmsContent {
    width: 80%;
    margin: auto;
}

footer {
    padding: 0.5rem;
    /* position: fixed;
    bottom: 0;
    width: 100%; */
    text-align: center;
}

footer p {
    margin: 0;
}

footer .imgContainer {
    width: 50px;
    margin: auto;
}

footer .imgContainer img {
    width: 100%;
}