@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&family=Roboto:wght@100;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --lightBlue: #E3EDFF;
    --darkBlue: #2A3853;
    --formBorder: #EEEEEE;
}

body {
    font-family: 'Poppins', sans-serif; 
}

.btnOutline {
    width: fit-content;
    margin: auto;
    border: 1px solid var(--darkBlue);
    background: var(--lightkBlue);
    color: var(--darkBlue);
    padding: 0.6rem 1.4rem;
    border-radius: 0.4rem;
    cursor: pointer;
    font-weight: 600;
    margin-top: 1rem;
}

.btnOutline:hover {
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}

/* LOGO */
.logoContainer {
    margin: 2rem;
    display: flex;
    justify-content: center;
}

.imgContainer {
    width: 120px;
}

.imgContainer img {
    width: 100%;
    height: 100%;
}

/* DYNAMIC MESSAGE */
#dynamicMessage {
    border: 1px solid var(--darkBlue);
    padding: 0.3rem 1rem;
    display: block;
    border-radius: 0.3rem;
    margin-top: 0.6rem;
    text-align: center;
    width: fit-content;
}

.serverMessage {
    display: flex;
    justify-content: center;
}

/* WHALE AND WHALEMESSAGE */
.whaleContainer {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 2rem;
}

.whaleContainerDashboard {
    margin-top: 1rem;
}

.whaleImgContainer {
    width: 220px;
    height: 110px;
    margin-left: 20px;
}

.whaleImgContainer img {
    width: 100%;
    height: 100%;
}

.whaleMessage {
    background: var(--lightBlue);
    color: var(--darkBlue);
    width: 400px;
    padding: 1.4rem;
    border-radius: 0.3rem;
    word-break: break-word;
    height: fit-content;
}

.messageBubble {
    background: var(--lightBlue);
    width: 25px;
    height: 25px;
    border-radius: 0.3rem;
    transform: rotate(45deg);
    margin-top: 18px;
    margin-left: -15px;
}

/* FORM */
.loginRegisterForm {
    background: var(--lightBlue);
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 300px;
    border-radius: 0.3rem;
}

.loginRegisterForm h2 {
    text-align: center;
    font-weight: 400;
    margin-top: 0.7rem;
}

.loginRegisterForm input[type="submit"] {
    margin-top: 0.4rem;
}

.loginRegisterForm #username, #password, #email {
    margin: 0.4rem auto;
    padding: 0.4rem;
    outline: none;
    border: none;
    border-radius: 0.3rem;
    width: 80%;
}

.forgotPassword {
    margin: 0.3rem auto;
    font-size: 0.8rem;
    color: var(--darkBlue);
}

.formBottomLink {
    font-size: 0.9rem;
    margin: auto;
    margin-top: 1rem;
    padding: 0.6rem;
    color: var(--darkBlue);
}

.formBottomLink a {
    margin-left: 0.4rem;
    color: var(--darkBlue);
}

/* DASHBOARD */
.dashboardHeader {
    display: flex;
    width: fit-content;
    margin: auto;
}

.btnDashboardHeader {
    margin-left: 0.7rem;
    margin-top: 0.7rem;
}

.dashboardHeader h2 {
    color: var(--darkBlue);
    font-weight: 400;
    margin: 0.6rem;
}

.dashboardContainer {
    display: flex;
}

.adminPanel {
    background: var(--lightBlue);
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 100vh;
    align-content: center;
}

.adminPanel h2 {
    text-align: center;
    font-weight: 400;
    color: var(--darkBlue);
    margin-bottom: 1rem;
}

.backBtn {
    align-self: center;
    width: 85%;
    text-align: center;
    border: 1px solid var(--darkBlue);
    padding: 0.4rem 1.3rem;
    border-radius: 0.4rem;
    cursor: pointer;
    font-weight: 500;
    margin: 0.6rem;
    text-decoration: none;
    color: var(--darkBlue);
    text-decoration: none;
}

.createPageBtn {
    align-self: center;
    width: 85%;
    text-align: center;
    border: 1px solid var(--darkBlue);
    padding: 0.4rem 1.3rem;
    border-radius: 0.4rem;
    cursor: pointer;
    font-weight: 500;
    margin: 0.6rem;
    text-decoration: none;
    color: var(--darkBlue);
    text-decoration: none;
}

.createPageBtn a {
    color: var(--darkBlue);
    text-decoration: none;
}

.createPageBtn:hover {
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}

.fa-plus {
    color: var(--darkBlue);
    margin-left: 0.8rem;
}

.fa-arrow-left {
    color: var(--darkBlue);
    margin-right: 0.8rem;
}

.logoutBtn {
    align-self: center;
    position: fixed;
    bottom: 15px;
    font-size: 1.5rem;
    color: var(--darkBlue);
    cursor: pointer;
}

.logoutBtn:hover {
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}

.dashboardContent {
    flex: 2;
}

.dynamicPages {
    display: flex;
    padding: 0.8rem;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 100vh;
    width: 100%;
}

.dynamicContent {
    display: block;
    width: 240px;
    height: 330px;
    padding: 0.6rem;
    margin: 1rem;
    border-radius: 0.4rem;
    background: url("../img/doc.png");
}

.dynamicContent:hover {
    transform: scale(1.01);
    transition: 0.3s ease-in-out;
}

.dynamicContent > a {
    text-decoration: none;
    color: var(--darkBlue);
    display: block;
    height: 270px;
}

.dynamicContent > a > p {
    text-align: center;
    font-size: 1.3rem;
    word-wrap: break-word;
}

.dynamicContent div {
    display: flex;
    justify-content: center;
}

.dynamicContent div a {
    margin: 0.5rem;
    color: var(--darkBlue);
    font-size: 1.3rem;
}

/* CREATE PAGE */
.createPageHeader button {
    margin: 0.6rem;
}

#markdownOption {
    height: 400px;
    width: 90%;
    margin: auto;
    margin-top: 3rem;
}

#editorOption {
    width: 90%;
    margin: auto;
    margin-top: 3rem;
}

.optionTitle {
    color: var(--darkBlue);
    font-weight: 400;
    font-size: 1.2rem;
    margin: 0.6rem;
    width: fit-content;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* CREATE PAGE FORM MARKDOWN */
.markdownForm {
    width: 100%;
    background: transparent;
}

.markdownForm #pagemarkdown::-webkit-scrollbar {
    display: none;
}

.markdownForm h3 {
    font-weight: 300;
    text-align: center;
    margin: 0.5rem;
}

.markdownForm #pagetitle {
    outline: none;
    width: 100%;
    text-align: center;
    padding: 0.75rem;
    margin-bottom: 0.75rem;
    border: none;
    border-radius: 0.3rem;
    font-size: 1rem;
    box-shadow: 0 2px 2px -2px rgba(34,47,62,.1), 0 8px 8px -4px rgba(34,47,62,.07);
}

.markdownForm #markdown {
    border: none;
    width: 100%;
    padding: 0.5rem;
    outline: none;
    font-size: 1rem;
    border: 2px solid var(--formBorder);
    border-radius: 0.6rem;
    height: 400px;
}

.markdownForm input[type="submit"] {
    display: flex;
    margin-top: 0.6rem;
}

/* EDIT FORM */
.editFormContainer {
    width: 90%;
    margin: auto;
}

.tinyEditorForm [type="submit"] {
    display: flex;
}

.tinyEditorForm #pagetitle {
    outline: none;
    width: 100%;
    text-align: center;
    padding: 0.75rem;
    margin-bottom: 0.75rem;
    border: none;
    border-radius: 0.3rem;
    font-size: 1rem;
    box-shadow: 0 2px 2px -2px rgba(34,47,62,.1), 0 8px 8px -4px rgba(34,47,62,.07);
}

/* VIEW */
.backToDashboard {
    text-decoration: none;
    color: var(--darkBlue);
    display: block;
    text-align: center;
    margin: 0.8rem auto;
    border: 1px solid var(--darkBlue);
    width: fit-content;
    padding: 0.4rem 1.1rem;
    border-radius: 0.4rem;
    cursor: pointer;
    font-weight: 600;
}