@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&family=Roboto:wght@100;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --lightBlue: #E3EDFF;
    --darkBlue: #2A3853;
}

body {
    font-family: 'Poppins', sans-serif; 
}

/* LOGO */
.logoContainer {
    margin: 2rem;
    display: flex;
    justify-content: center;
}

.imgContainer {
    width: 120px;
}

.imgContainer img {
    width: 100%;
    height: 100%;
}

/* DYNAMIC MESSAGE */
.dynamicMessage {
    border: 1px solid var(--darkBlue);
    padding: 0.2rem;
    display: block;
    border-radius: 0.3rem;
    margin-top: 0.6rem;
    text-align: center;
}

/* WHALE AND WHALEMESSAGE */
.whaleContainer {
    display: flex;
    justify-content: center;
    margin: auto;
    /* width: 50%; */
    margin-bottom: 2rem;
}

.whaleContainerDashboard {
    margin-top: 1rem;
}

.whaleImgContainer {
    width: 220px;
    height: 110px;
    margin-left: 20px;
}

.whaleImgContainer img {
    width: 100%;
    height: 100%;
}

.whaleMessage {
    background: var(--lightBlue);
    color: var(--darkBlue);
    width: 400px;
    padding: 1.4rem;
    border-radius: 0.3rem;
    word-break: break-word;
    height: fit-content;
}

.messageBubble {
    background: var(--lightBlue);
    width: 25px;
    height: 25px;
    border-radius: 0.3rem;
    transform: rotate(45deg);
    margin-top: 18px;
    margin-left: -15px;
}

/* FORM */
form {
    background: var(--lightBlue);
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 300px;
    border-radius: 0.3rem;
}

form h2 {
    text-align: center;
    font-weight: 400;
    margin-top: 0.7rem;
}

form input {
    width: 80%;
    margin: auto;
}

form input[type=submit] {
    width: fit-content;
    margin: auto;
    /* background: var(--darkBlue);
    color: var(--lightBlue);
    border: none; */
    border: 1px solid var(--darkBlue);
    background: var(--lightkBlue);
    color: var(--darkBlue);
    padding: 0.6rem 1.4rem;
    border-radius: 0.4rem;
    cursor: pointer;
    font-weight: 600;
    margin-top: 1rem;
}

form input[type=submit]:hover {
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}

form #username, #password, #email {
    margin-top: 1rem;
    padding: 0.4rem;
    outline: none;
    border: none;
    border-radius: 0.3rem;
}

.forgotPassword {
    margin: auto;
    margin-top: 0.6rem;
    font-size: 0.8rem;
    color: var(--darkBlue);
}

.formBottomLink {
    font-size: 0.9rem;
    margin: auto;
    margin-top: 1rem;
    padding: 0.6rem;
    color: var(--darkBlue);
}

.formBottomLink a {
    margin-left: 0.4rem;
    color: var(--darkBlue);
}

/* DASHBOARD */

.dashboardContainer {
    display: flex;
}

.adminPanel {
    background: var(--lightBlue);
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100vh;
    align-content: center;
}

.adminPanel h2 {
    text-align: center;
    font-weight: 400;
    color: var(--darkBlue);
}

.createPageBtn {
    align-self: center;
    width: fit-content;
    border: 1px solid var(--darkBlue);
    background: var(--lightkBlue);
    color: var(--darkBlue);
    padding: 0.4rem 1.3rem;
    border-radius: 0.4rem;
    cursor: pointer;
    font-weight: 500;
    margin: 1rem;
    text-decoration: none;
}

.createPageBtn:hover {
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}

.fa-plus {
    color: var(--darkBlue);
    margin-left: 0.8rem;
}

.fa-arrow-left {
    color: var(--darkBlue);
    margin-right: 0.8rem;
}

.logoutBtn {
    align-self: center;
    position: fixed;
    bottom: 15px;
    font-size: 1.5rem;
    color: var(--darkBlue);
    cursor: pointer;
}

.logoutBtn:hover {
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}

.dashboardContent {
    flex: 2;
}

.dynamicPages {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

.dynamicPages p {
    text-align: center;
    font-size: 1.2rem;
}

.dynamicPages a {
    margin: 0 0.2rem;

}

.dynamicPages div {
    display: flex;
    justify-content: center;
}

/* CREATE PAGE */
.createPageHeader {
    display: flex;
    justify-content: center;
}

.createPageHeader h2 {
    color: var(--darkBlue);
    font-weight: 400;
    margin: 0.6rem;
}

.createPageHeader button {
    border: 1px solid var(--darkBlue);
    color: var(--darkBlue);
    background: transparent;
    font-weight: 600;
    padding: 0.4rem 1.3rem;
    border-radius: 0.4rem;
    cursor: pointer;
    font-weight: 500;
    margin: 0.6rem;
}

.createPageHeader button:hover {
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}

#markdownOption {
    display: none;
}

#editorOption {
    display: none;
}

.optionTitle {
    color: var(--darkBlue);
    font-weight: 400;
    font-size: 1.2rem;
    margin: 0.6rem;
    width: fit-content;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}